{% extends "base.html" %}
{% block content %}
<h3>Product List</h3>

    <div class="row">
        {% for obj in object_list %}
        <div class="col">
            {{forloop.counter}}
            {% include "products/snippets/card.html" with instance=obj %}
            {% if forloop.counter|divisibleby:3 %}
        </div></div><div class="row"><div class="col-12"><hr/></div>

    {% else %}
</div>
    {% endif %}
    <!--{% cycle '<h1>hello</h1>' '' %}-->
{% endfor %}
</div>

{% endblock %}






















